.text {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textMin {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textMax {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textMid {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textLower {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textMaxim {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsafsd {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsafsdk {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsamfkl {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsasdf {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsasd {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsaa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsavb {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsasdfd {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsaasd {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsasdsd {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsaxc {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsacxcx {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsamm {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsabn {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsyua {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textddfsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsknkfla {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdskdsnflksda {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textddkfmdlkfsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsdkfnldka {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdssdfnlsldfna {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdkfnskdlnfksa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdssdnflka {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsasldjfnljsdja {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdasdjfljsdsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textsdjfbkjsdfdsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textsdfbsdjfdsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.texasjdfnjsdjfkltdsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsdknlflsdkfsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdskldnfslkdfsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsdknffskdfa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsdjfnsljdbfsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdsasjdjfnasldfa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdasdasdsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textasassadsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.textdasasdassa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}
