.text {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textMin {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textMax {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textMid {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textLower {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textMaxim {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsafsd {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsafsdk {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsamfkl {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsasdf {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsasd {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsaa {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsavb {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsasdfd {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsaasd {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsasdsd {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsaxc {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsacxcx {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsamm {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsabn {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsyua {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textddfsa {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsknkfla {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdskdsnflksda {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textddkfmdlkfsa {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsdkfnldka {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdssdfnlsldfna {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdkfnskdlnfksa {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdssdnflka {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsasldjfnljsdja {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdasdjfljsdsa {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textsdjfbkjsdfdsa {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textsdfbsdjfdsa {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.texasjdfnjsdjfkltdsa {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsdknlflsdkfsa {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdskldnfslkdfsa {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsdknffskdfa {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsdjfnsljdbfsa {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdsasjdjfnasldfa {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdasdasdsa {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textasassadsa {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}

.textdasasdassa {
  font-family: Oxygen, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #000;
}
