.crumbs {
  width: 80%;
  margin: 30px auto;
  max-width: 1440px;
}

.crumb {
  display: inline-block;
  margin-right: 10px;

  &:not(:last-child):after {
    content: '/';
    margin-left: 10px;
  }
}
