/*!****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/shared/components/container/container.module.scss ***!
  \****************************************************************************************************************************************************************************/
.container-module__container {
  width: 80%;
  max-width: 1440px;
}
/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/shared/components/text/text.module.scss ***!
  \******************************************************************************************************************************************************************/
.text-module__text {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textMin {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textMax {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textMid {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textLower {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textMaxim {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsafsd {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsafsdk {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsamfkl {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsasdf {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsasd {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsaa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsavb {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsasdfd {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsaasd {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsasdsd {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsaxc {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsacxcx {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsamm {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsabn {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsyua {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textddfsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsknkfla {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdskdsnflksda {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textddkfmdlkfsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsdkfnldka {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdssdfnlsldfna {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdkfnskdlnfksa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdssdnflka {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsasldjfnljsdja {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdasdjfljsdsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textsdjfbkjsdfdsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textsdfbsdjfdsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__texasjdfnjsdjfkltdsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsdknlflsdkfsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdskldnfslkdfsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsdknffskdfa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsdjfnsljdbfsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdsasjdjfnasldfa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdasdasdsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textasassadsa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.text-module__textdasasdassa {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Oxygen, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}
/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/shared/components/logo/logo.module.scss ***!
  \******************************************************************************************************************************************************************/
.logo-module__logo {
  fill: var(--primary-color);
}
/*!**********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/shared/components/rating/rating.module.scss ***!
  \**********************************************************************************************************************************************************************/
.rating-module__filled svg {
  fill: var(--yellow-color);
}

.rating-module__star {
  background: none;
}
.rating-module__star svg {
  margin-right: 5px;
}

.rating-module__editable svg {
  cursor: pointer;
}
/*!********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/shared/components/input/input.module.scss ***!
  \********************************************************************************************************************************************************************/
.input-module__wrapper {
  position: relative;
  display: flex;
}

.input-module__input {
  flex-grow: 1;
  padding: var(--indent-size-s);
  color: var(--secondary-color);
  border-radius: var(--round-m);
  background: var(--primary-color);
  font-size: var(--font-s);
}
.input-module__input:focus {
  outline: 2px solid var(--purple-color);
}

.input-module__gray {
  background: var(--gray-color);
}

.input-module__outlined {
  outline: 2px solid var(--purple-color);
}

.input-module__range {
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  margin: 0;
  border-radius: 2.5px;
  background: var(--purple-color);
  background-image: var(--purple-color);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  appearance: none;
}
.input-module__range:focus {
  outline: none;
}
.input-module__range::-webkit-slider-runnable-track {
  height: 2px;
  border: none;
  border-radius: 2.5px;
  box-shadow: none;
}
.input-module__range::-webkit-slider-thumb {
  position: relative;
  bottom: calc(50% + 6px);
  width: 16px;
  height: 16px;
  cursor: ew-resize;
  border-radius: 50%;
  background: var(--dark-purple-color);
  appearance: none;
}
/*!********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/widgets/menu/menu.module.scss ***!
  \********************************************************************************************************************************************************/
.menu-module__list {
  display: flex;
  gap: var(--indent-size-m);
}

.menu-module__link {
  color: var(--primary-color);
  font-size: var(--font-m);
}
/*!************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/widgets/header/header.module.scss ***!
  \************************************************************************************************************************************************************/
.header-module__header {
  display: flex;
  justify-content: center;
  padding: var(--indent-size-s) 0;
  background: var(--secondary-color);
}

.header-module__content {
  display: flex;
  align-items: center;
}

.header-module__logo {
  margin-right: var(--indent-size-m);
}
/*!************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/widgets/footer/footer.module.scss ***!
  \************************************************************************************************************************************************************/
.footer-module__footer {
  display: flex;
  justify-content: center;
  padding: 25px 80px;
  background-color: #000;
}

.footer-module__wrapper {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-module__cont {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-module__number {
  margin: 0 63px;
  color: #FFF;
}

.footer-module__mail {
  color: #FFF;
}

.footer-module__cpr {
  color: #FFF;
}
/*!********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/widgets/form/form.module.scss ***!
  \********************************************************************************************************************************************************/
.form-module__form {
  gap: var(--indent-size-s);
  display: flex;
  flex-direction: column;
  padding: var(--indent-size-l) var(--indent-size-m);
  border-radius: var(--round-xxl);
}

.form-module__filled {
  background: var(--purple-color);
}

.form-module__border {
  border: 2px solid var(--purple-color);
  background: var(--secondary-color);
}
/*!****************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/widgets/carousel/carousel.module.scss ***!
  \****************************************************************************************************************************************************************/
.carousel-module__carousel {
  position: relative;
  width: 100%;
  height: 20rem;
}
.carousel-module__carousel .carousel-module__carouselItems {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  gap: 2%;
}
.carousel-module__carousel .carousel-module__carouselItems .carousel-module__carouselItem {
  height: 20rem;
  transition-duration: 800ms;
  border: 1px solid black;
}
.carousel-module__carousel .carousel-module__carouselButtonNext,
.carousel-module__carousel .carousel-module__carouselButtonBack {
  position: absolute;
  top: calc(50% - 1.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  color: var(--purple-color);
  border: 0;
  border-radius: 100%;
  background-color: var(--secondary-color);
}
.carousel-module__carousel .carousel-module__carouselButtonBack {
  left: 0;
}
.carousel-module__carousel .carousel-module__carouselButtonNext {
  right: 0;
}

.carousel-module__arrowRight,
.carousel-module__arrowLeft {
  display: inline-block;
  padding: 3px;
  border: solid var(--purple-color);
  border-width: 0 3px 3px 0;
}

.carousel-module__arrowRight {
  transform: rotate(-45deg);
}

.carousel-module__arrowLeft {
  transform: rotate(135deg);
}
/*!******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/pages/page/page.module.scss ***!
  \******************************************************************************************************************************************************/
.page-module__page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-module__main {
  flex: 1 0 auto;
}
/*!******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/pages/home/home.module.scss ***!
  \******************************************************************************************************************************************************/
.home-module__home {
  display: flex;
  justify-content: center;
  padding: var(--indent-size-m) 0;
}
/*!************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/app/design/index.scss ***!
  \************************************************************************************************************************************************/
@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  display: block;
  max-width: 100%;
}

/* Указываем понятную периодичность в потоке данных у article */
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты и убираем границы для инпутов и кнопок */
input,
button,
textarea,
select {
  border: none;
  outline: none;
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
#root {
  --white-color: #FFF;
  --black-color: #000;
  --purple-color: #8B32FD;
  --dark-purple-color: #6500CA;
  --silver-color: #F3F3F3;
  --gray-color: #E5E5E5;
  --yellow-color: #FFD600;
  --indent-size-xs: 0.5rem;
  --indent-size-s: 1rem;
  --indent-size-m: 2rem;
  --indent-size-l: 3rem;
  --indent-size-xl: 4rem;
  --font-xs: 0.75rem;
  --font-s: 1rem;
  --font-m: 1.25rem;
  --font-l: 1.5rem;
  --font-xl: 1.75rem;
  --font-xxl: 2rem;
  --round-xs: 0.25rem;
  --round-s: 0.5rem;
  --round-m: 0.75rem;
  --round-l: 1rem;
  --round-xl: 1.5rem;
  --round-xxl: 2rem;
}

#root[data-theme=light] {
  --primary-color: var(--white-color);
  --secondary-color: var(--black-color);
}

#root[data-theme=dark] {
  --primary-color: var(--black-color);
  --secondary-color: var(--white-color);
}

#root {
  height: 100vh;
  font-family: Oxygen, sans-serif;
}

/*# sourceMappingURL=styles.css.map*/