.button {
  cursor: pointer;

  border-radius: 12px;

  font-size: var(--font-m);
  font-weight: 700;

  &:disabled {
    cursor: not-allowed;
  }
}

.small {
  padding: var(--indent-size-xs) var(--indent-size-s);
}

.medium {
  padding: var(--indent-size-xs) var(--indent-size-m);
}

.primary {
  color: var(--primary-color);
  background: var(--purple-color);
}

.outline {
  color: var(--purple-color);
  border: 3px solid var(--purple-color);
  background: transparent;
}

.reverse-theme {
  color: var(--primary-color);
  background: var(--secondary-color);
}
